@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
	outline: none;
	text-decoration: none;
	list-style: none;
}

body {
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	font-weight: 400;
	color: #313131;
}

.light {
	font-weight: 300!important;
}

.white {
	color: #ffffff!important;
}

.sbold {
	font-weight: 600!important;
}

.orange {
	color: #ec563b!important;
}

.header {
	background-color: #ec563b;
	padding: 18px 0px;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	z-index: 250;
}

.container {
	padding: 0px 20px;
	max-width: 1388px;
	width: 100%;
	margin: 0 auto;
}

.header .container, .row {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}

.header .container {
	max-width: 1564px;
	margin: 0px auto;
	-webkit-box-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	align-items: center;
	padding: 0px 40px;
}

.main-logo {
	font-size: 22px;
	color: #ffffff;
	display: flex;
}

.main-logo img {
	height: 28px;
}

.btn {
	height: 55px;
	display: flex;
	-webkit-box-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	align-items: center;
	padding: 0px 5px;
	border-radius: 10px;
	color: #ffffff;
	background-color: #ec563b;
	font-size: 16px;
}

.btn-white {
	background-color: #ffffff;
	color: #ec563b;
	font-weight: 300;
}

.header .btn {
	width: 180px;
}

.background-orange {
	background-color: #eb543a;
	position: relative;
}

.background-orange::before, .background-orange::after {
	content: '';
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	min-height: auto;
}

.background-orange::before {
	background: url(../img/background-orange.svg) no-repeat center;
	background-size: cover;
	z-index: 110;
}

.background-orange::after {
	background: linear-gradient(83.39deg,#eb553a 25.8%,#f0905e 86.99%),#eb543a;
	z-index: 100;
}

.set-cash::after, .set-cash::before {
	height: 65vh;
	min-height: 670px;
	background-position: top left;
}

.set-cash .container {
	position: relative;
	z-index: 130;
	padding-top: calc(90px + 73px);
}

.big-title {
	font-size: calc(40px + 3.16vmax);
	color: #ffffff;
}

.set-cash .big-title {
	margin-right: 11.26vw;
	font-weight: 600;
}

.medium-title {
	font-size: calc(20px + 1.58vmax);
	color: #ffffff;
}

.set-cash .medium-title {
	margin-top: 20px;
}

.choice-list {
	max-width: 32%;
	margin-top: 25px;
	list-style: none;
	counter-reset: my-awesome-counter;
}

.choice-list__item {
	counter-increment: my-awesome-counter;
	position: relative;
	padding-left: 40px;
	font-size: 22px;
	line-height: 1.4;
	margin-bottom: 25px;
	color: #ffffff;
}

.choice-list__item:last-child {
	margin-bottom: 0px;
}

.choice-list__item::before {
	content: counter(my-awesome-counter) "";
	position: absolute;
	left: 0px;
	border-radius: 50%;
	color: #ffffff;
	font-size: 20px;
	background-color: rgba(255, 255, 255, 0.3);
	width: 30px;
	height: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.add-desc {
	font-size: 22px;
	color: #ffffff;
	text-align: center;
	width: 60%;
	margin: 40px auto 0px;
}

.products {
	position: relative;
	z-index: 130;
	margin-top: 0px;
}

.card-wrapper {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	margin-top: 41px;
}

.card {
	background-color: #ffffff;
	border-radius: 20px;
	padding: 24px 28px 28px;
	width: 100%;
	max-width: 24.04%;
	margin-right: 1.28%;
	margin-bottom: 25px;
	box-shadow: 0 13px 25px rgb(225 213 210 / 40%);
	border: 1px solid #ffffff;
	transition: all 0.18s ease-in;
	position: relative;
	transform: translate3d(0,0,0);
	display: flex;
	flex-wrap: wrap;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;
	padding-top: 45px;
}

.card:hover {
	transform: translate3d(0, -20px, 0);
	border: 1px solid #ec563b;
}

.card:nth-child(4n) {
	margin-right: 0px;
}

.card.choice .choice-block{
	display: block;
}

.choice-block {
	display: none;
	position: absolute;
	top: 0px;
	width: 100%;
	left: 0px;
	background-color: #ffc93e;
	border-radius: 19px 19px 0px 0px;
	text-align: center;
	font-weight: 600;
	font-size: 16px;
	height: 35px;
	line-height: 34px;
}

.card-img, .card-img img {
	max-width: 100%;
	max-height: 60px;
	margin: 0px auto;
}

.card-title {
	font-size: 20px;
	color: #313131;
	padding-bottom: 16px;
	margin: 23px 0px;
	width: 100%;
	border-bottom: 1px solid #f3eeee;
}

.card-info-wrapper {
	flex-direction: column;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	display: flex;
	flex-wrap: wrap;
	font-size: 16px;
}

.card-info {
	display: flex;
	flex-wrap: wrap;
	-webkit-box-pack: justify;
	justify-content: space-between;
	margin-bottom: 23px;
}

.card-info:last-of-type {
	margin-bottom: 45px;
}

.card-btn {
	margin-top: auto;
}

.btn-orange-grad {
	font-weight: 600;
	background: linear-gradient(280.06deg ,#ee864d -6.58%,#eb553a 86.87%),#eb533a;
}

.why {
	padding: 89px 0px 157px;
}

.title {
	font-size: calc(20px + 1.58vmax);
	color: #313131;
	font-weight: 600;
	text-align: center;
	width: 100%;
}

.why-wrapper {
	display: flex;
	flex-wrap: wrap;
	-webkit-box-pack: justify;
	justify-content: space-between;
	width: 100%;
	padding: 55px 80px 0px;
}

.why-item {
	width: 100%;
	max-width: 277px;
}

.why-icon {
	width: 100%;
	display: flex;
	-webkit-box-pack: center;
	justify-content: center;
	margin-bottom: 33px;
	height: 70px;
}

.why-title {
	color: #313131;
	font-size: 30px;
	margin-bottom: 30px;
	text-align: center;
	font-weight: 500;
}

.how {
	padding: 69px 0px 43px;
}

.how>* {
	position: relative;
	z-index: 130;
}

.how .container {
	max-width: 1410px;
}

.how-wrapper {
	display: flex;
	-webkit-box-pack: center;
	justify-content: center;
	flex-wrap: wrap;
	width: 100%;
	padding-top: 65px;
}

.how-side {
	max-width: 246px;
	width: 20%;
}

.how-item {
	margin-bottom: 69px;
}

.how-item:first-of-type {
	margin-top: 80px;
}

.how-item__count {
	width: 50px;
	height: 50px;
	background-color: rgba(255, 255, 255, 0.3);
	color: #ffffff;
	display: flex;
	-webkit-box-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	align-items: center;
	border-radius: 50%;
	font-size: 30px;
	font-weight: 500;
	margin-bottom: 18px;
}

.how-item__text {
	color: #ffffff;
	font-size: 30px;
	font-weight: 500;
}

.how-img {
	max-width: 816px;
	width: 60%;
}

.how-img img {
	width: 100%;
}

.how-img .phone-how, .how-img .tablet-how {
	display: none;
}

.terms {
	padding: 110px 0px 120px;
}

.terms>*{
	position: relative;
	z-index: 130;
}

.background-gray {
	position: relative;
	background-color: #f4f4f4;
}

.background-gray::before {
	content: '';
	width: 100%;
	position: absolute;
	left: 0px;
	top: 0px;
	background-image: url(../img/background-gray.svg);
	background-repeat: repeat-y;
	min-height: 60%;
	max-height: 1645px;
	height: 100%;
	z-index: 100;
}

.terms-wrapper {
	padding-top: 93px;
}

.terms-item {
	display: flex;
	margin-bottom: 60px;
	-webkit-box-align: start;
	align-items: flex-start;
}

.terms-title {
	font-size: 30px;
	color: #313131;
	font-weight: 500;
	max-width: 328px;
	padding-right: 150px;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
}

.terms-text {
	-webkit-box-flex: 1;
	flex: 1;
	padding-left: 35px;
	border-left: 2px solid #e1dede;
}

.terms-text p {
	font-size: 18px;
	line-height: 160%;
	color: #313131;
	padding-bottom: 25px;
}

.terms-text p:last-of-type {
	padding: 0px;
	margin: 0px;
}

p.sbold {
	padding: 0px;
}

.terms-list {
	font-size: 16px;
	margin-bottom: 40px;
}

.terms-list:last-of-type {
	margin: 0px;
}

.notification-item {
	color: #8d8d8d;
	font-size: 18px;
	line-height: 160%;
	padding-left: 23px;
	border-left: 2px solid #ee864d;
	margin-bottom: 30px;
}

.notification-item a {
	color: #8d8d8d;
}

.faq {
	padding: 58px 0px 55px;
}

.faq .container {
	max-width: 1348px;
	padding: 0px 75px;
	margin-bottom: 30px;
}

.faq-wrapper {
	width: 100%;
	padding-top: 62px;
}

.faq-item {
	border-bottom: 1px solid #e1dede;
	padding-bottom: 15px;
	padding-top: 15px;
}

.faq-item:last-of-type {
	border-bottom: none;
}

.faq-title {
	font-size: 22px;
	top: 4px;
	color: #313131;
	font-weight: 500;
	cursor: pointer;
	position: relative;
	min-height: 50px;
	padding-right: 120px;
}

.faq-icon {
	position: absolute;
	right: 0px;
	top: 0px;
	display: flex;
	justify-content: center;
	align-items: center;
	transform: translateY(0%), rotate(0deg);
	will-change: transform;
	transition: transform 0.1s ease-out;
	width: 50px;
	height: 50px;
	background-color: #f4f4f4;
	border-radius: 50%;
}

.faq-item.uk-open .faq-icon {
	-webkit-transform: translateY(0%) rotate(-45deg);
	-ms-transform: translateY(0%) rotate(-45deg);
	transform: translateY(0%) rotate(-45deg);
}

.faq-item.uk-open .faq-icon svg path {
	fill: #ec563b;
}

.faq-text {
	font-size: 18px;
	color: #313131;
	line-height: 160%;
	padding: 30px 120px 15px 0px;
}

.notification {
	padding-top: 30px;
}

.footer {
	background-color: #ec563b;
	margin-top: 104px;
	padding: 33px 0px 36px;
}

.footer .container {
	max-width: 1564px;
	width: 100%;
	margin: 0px auto;
	display: flex;
	flex-wrap: wrap;
	-webkit-box-align: center;
	-webkit-box-pack: justify;
	justify-content: space-between;
	align-items: center;
}

.footer-nav {
	display: flex;
	flex-wrap: wrap;
}

.footer-nav__link {
	color: #ffffff;
	margin: 0px 25px;
	display: flex;
	flex-wrap: wrap;
	font-size: 16px;
}

.footer .copyright {
	color: #ffffff;
	font-size: 16px;
}

@media (max-width: 1400px) {
	.add-desc {
		width: 80%;
	}
}

@media (max-width: 1100px) {
	.add-desc {
		width: 100%;
	}

	.header {
    padding: 7px 0;
	}

	.main-logo {
    font-size: 20px;
	}

	.main-logo img {
    height: 24px;
	}

	.btn {
    height: 50px;
	}

	.container {
    padding: 0 40px;
	}

	.set-cash .container {
    padding-top: calc(65px + 17px);
	}

	.set-cash .big-title {
    margin-left: 40px;
		margin-right: 7.6vw;
	}

	.big-title {
    font-size: calc(40px + 4.2vw);
	}

	.medium-title {
    font-size: calc(10px + 2.4vw);
	}

	.products {
    padding: 0px 40px;
	}

	.card {
    max-width: calc(50% - 6px);
    margin-right: 12px;
    margin-bottom: 12px;
	}

	.card:nth-child(2n), .card:nth-child(4n) {
    margin-right: 0;
	}

	.card:hover {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    border: 1px solid #ec563b;
	}

	.why {
    padding-top: 55px;
    padding-bottom: 75px;
	}

	.title {
    font-size: calc(10px + 2.4vw);
	}

	.why-wrapper {
    padding-left: 0;
    padding-right: 0;
    padding-top: 50px;
	}

	.why-item {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    max-width: 233px;
	}

	.why-icon {
    margin-bottom: 23px;
	}

	.why-title {
    font-size: 24px;
    margin-bottom: 15px;
	}

	.how {
    padding-top: 46px;
    padding-bottom: 85px;
	}

	.how-wrapper {
    padding-top: 44px;
	}

	.how-item {
		margin-bottom: 28px;
	}

	.how-item:first-of-type {
    margin-top: 70px;
	}

	.how-item__count {
    width: 40px;
    height: 40px;
    font-size: 20px;
    margin-bottom: 20px;
	}

	.how-item__text {
    min-height: 66px;
    font-size: 18px;
	}

	.how-item:last-of-type {
    margin-top: 0;
	}

	.how-img {
    width: 40.29vw;
    max-width: 336px;
    margin-left: 27px;
    margin-right: 27px;
	}

	.how-img .desctop-how {
    display: none;
	}

	.how-img .tablet-how {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
	}

	.terms {
    padding-top: 35px;
    padding-bottom: 65px;
	}

	.terms-wrapper {
    padding-top: 57px;
	}

	.terms-item {
    margin-bottom: 40px;
	}

	.terms-title {
    font-size: 20px;
    padding-right: 47px;
    max-width: 189px;
    padding-left: 40px;
	}

	.terms-text p {
    font-size: 14px;
    padding-bottom: 15px;
	}

	p.sbold {
    padding: 0px;
	}

	.terms-list {
    font-size: 14px;
	}

	.notification-item {
    font-size: 14px;
	}

	.faq {
    padding: 33px 0px 43px;
	}

	.faq .container {
    padding: 0px 47px;
    width: calc(100% - 80px);
	}

	.faq-wrapper {
    padding-top: 34px;
	}

	.faq-item {
    padding-top: 12px;
    padding-bottom: 12px;
	}

	.faq-title {
    top: 0;
    padding-right: 40px;
    font-size: 16px;
    min-height: 28px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
	}

	.faq-text {
    font-size: 14px;
    padding-right: 40px;
    padding-top: 15px;
    padding-bottom: 15px;
	}

	.faq-icon {
		width: 28px;
    height: 28px;
	}

	.faq-icon svg {
		-webkit-transform-origin: 4px 10px;
		-ms-transform-origin: 4px 10px;
		transform-origin: 4px 10px;
		width: 8px;
		height: 8px;
		top: 5px;
		right: 9px;
	}

	.notification {
    padding-top: 0;
	}

	.footer {
    padding-top: 25px;
    padding-bottom: 29px;
    margin-top: 50px;
	}

	.footer .main-logo {
    font-size: 16px;
	}

	.footer .main-logo img {
		height: 19px;
	}

	.footer-nav {
		-webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    width: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
	}

	.footer-nav__link {
		font-size: 14px;
	}

	.footer .copyright {
    font-size: 14px;
	}

}

@media  (max-width: 1024px) {
	.choice-list {
		max-width: 100%;
		width: 100%;
	}
}

@media (max-width: 640px) {
	.header {
    padding: 5px 0;
	}

	.header .container {
    padding: 0 20px;
	}

	.header .main-logo {
    font-size: 14px;
	}

	.header .main-logo img {
		height: 18px;
	}

	.header .btn {
    width: 140px;
    height: 40px;
    font-size: 12px;
	}

	.container {
    padding: 0 20px;
	}

	.set-cash .container {
    padding-top: calc(50px + 13px);
	}

	.set-cash::after, .set-cash::before {
    height: 100%;
	}

	.big-title {
    font-size: calc(20px + 9.38vw);
	}

	.set-cash .big-title {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
	}

	.set-cash .medium-title {
    margin-top: 16px;
	}

	.medium-title {
    font-size: 24px;
    font-size: calc(8px + 5vw);
	}

	.products {
    margin-top: 0px;
    padding: 0;
	}

	.card-wrapper {
    margin-top: 25px;
	}

	.card {
    max-width: 100%;
    margin-bottom: 20px;
    margin-right: 0;
    padding: 45px 23px 28px;
	}

	.card-title {
    font-size: 16px;
    margin-top: 14px;
    padding-bottom: 17px;
    margin-bottom: 13px;
	}

	.card-info {
    font-size: 14px;
    margin-bottom: 14px;
	}

	.card-info-wrapper .card-info:nth-of-type(2), .card-info-wrapper .card-info:nth-of-type(3) {
    display: none;
	}

	.card-info:last-of-type {
    margin-bottom: 31px;
	}

	.card-wrapper .btn {
    height: 47px;
	}

	.why {
    padding-top: 30px;
    padding-bottom: 55px;
	}

	.title {
    font-size: calc(8px + 5vw);
	}

	.why-wrapper {
    padding-left: 0;
    padding-right: 0;
    padding-top: 40px;
	}

	.why-item {
    max-width: 100%;
    width: 100%;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 100%;
    flex: 1 0 100%;
    margin-bottom: 35px;
	}

	.why-icon {
    margin-bottom: 25px;
		height: auto;
	}

	.why-item .why-icon img {
    width: 50px;
    max-height: 50px;
	}

	.why-title {
    font-size: 20px;
    margin-bottom: 20px;
	}

	.why-item:last-of-type {
    margin-bottom: 0;
	}

	.how {
    padding-top: 27px;
    padding-bottom: 44px;
	}

	.how-wrapper {
    padding-top: 20px;
	}

	.how-img {
    width: 100%;
    max-width: 100%;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 100%;
    flex: 1 0 100%;
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
	}

	.how-img .phone-how {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 50vw;
    max-width: 50vw;
    height: 100vw;
    margin-left: 0;
    margin-right: 0;
	}

	.how-img .desctop-how, .how-img .tablet-how {
    display: none;
	}

	.how-side {
    width: 100%;
    max-width: 100%;
    padding-left: 20px;
    margin-bottom: 20px;
    padding-right: 40px;
	}

	.how-side:first-of-type {
    margin-top: 24px;
	}

	.how-side:last-of-type {
    margin-bottom: 0;
	}

	.how-item {
    margin-bottom: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
	}

	.how-item:first-of-type {
    margin-top: 0;
	}

	.how-item:last-of-type {
    margin-bottom: 0;
	}

	.how-item__count {
    margin-right: 17px;
    margin-bottom: 0;
    width: 31px;
    height: 31px;
    font-size: 16px;
	}

	.how-item__text {
    font-size: 16px;
    min-height: 10px;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin-top: 6px;
	}

	.terms {
    padding-top: 30px;
    padding-bottom: 54px;
	}

	.terms .title {
    text-align: left;
    justify-self: start;
	}

	.terms-wrapper {
    padding-top: 35px;
	}

	.terms-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
	}
	.terms-title {
    max-width: 100%;
    padding-right: 0;
    padding-left: 0;
    width: 100%;
    margin-bottom: 15px;
	}

	.terms-text {
    padding-left: 22px;
    border-left: 1px solid #e1dede;
	}

	.notification-item {
    border-left: 1px solid #ee864d;
    font-size: 12px;
    margin-bottom: 20px;
	}

	.faq {
    padding: 33px 0px 35px;
	}

	.faq .container {
    padding: 0px 20px;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 20px;
	}

	.faq-wrapper {
    padding-top: 28px;
	}

	.faq-item {
    padding-top: 16px;
    padding-bottom: 16px;
	}

	.faq-title {
    font-size: 18px;
    min-height: 10px;
    padding-right: 0;
	}

	.faq-item.uk-open .faq-title {
    color: #ec563b;
	}

	.faq-icon {
    display: none;
	}

	.faq-text {
    padding-right: 0;
    padding-top: 20px;
    padding-bottom: 15px;
	}

	.footer {
    padding-top: 25px;
    padding-bottom: 20px;
    margin-top: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
	}

	.footer .footer-nav {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
    width: 100%;
    max-width: 100%;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 100%;
    flex: 1 0 100%;
    margin-bottom: 15px;
	}

	.footer-nav__link {
    margin-left: 0;
    margin-right: 30px;
    margin-bottom: 20px;
		font-size: 12px;
	}

	.footer-nav__link:last-of-type {
		margin-right: 0px;
	}

}